<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="Listeners.AnnotationTransformer"/>
        <listener class-name="Listeners.AnnotationTransformer"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="/Users/sangram.das/GIT/RestAssueredAutomationJenkins">

    <classes><class name="TestCases.MaxPanelAPI">
        <methods>
            <include name="validateMaxPanel"/>
        </methods></class>
    </classes>
</test>
</suite>

